.jumbotron{
	background-image: url(http://www.technologytell.com/hometech/files/2015/02/smart-homes-image.jpeg);
	background-repeat: no-repeat;
	height:700px;
}
.word{
	color:blue;
	font-weight: bold;
}
.jumbotron h1{
	margin-top:60px;
}
.jumbotron img.pc{
	margin-top: 160px;
}
#button{
	margin-left: 40px;
	margin-top: 20px;
}
.belownav{
	margin: 40px 0 40px 0;
	padding:30px 0 30px 0;
}